[submodule "sc"]
	path = sc
        url = https://github.com/cburstedde/libsc.git
	# url = git@github.com:cburstedde/libsc.git
	ignore = dirty

[submodule "p4est"]
	path = p4est
        url = https://github.com/cburstedde/p4est.git
	# url = git@github.com:cburstedde/p4est.git
	ignore = dirty
[submodule "src/solvers/fc3d_ash3d"]
	path = src/solvers/fc3d_ash3d
	url = git@bitbucket.org:MelodyShih/fc3d_ash3d.git
[submodule "cub"]
	path = cub
	url = ./cub
