% PLEASE USE THIS FILE AS A TEMPLATE FOR THE PUBLICATION 
% Check file IOS-Book-Article.tex
%

\documentclass{IOS-Book-Article}     %[seceqn,secfloat,secthm]
%\usepackage{mathptmx}
%\usepackage[T1]{fontenc}
%\usepackage{times}%
%
%%%%%%%%%%% Put your definitions here


%%%%%%%%%%% End of definitions
\begin{document}
\begin{frontmatter}          % The preamble begins here.
%
%\pretitle{}
\title{}
\runningtitle{}
%\subtitle{}

% For one author:
\author{\fnms{} \snm{}}
\address{}
\runningauthor{}
%
% Two or more authors:
%\author[A]{\fnms{} \snm{}},
%\author[B]{\fnms{} \snm{}}
%\runningauthor{}
%\address[A]{}
%\address[B]{}
%
\begin{abstract}

\end{abstract}

\begin{keyword}

\end{keyword}

\end{frontmatter}

%%%%%%%%%%% The article body starts:

\section*{Introduction}


%%%%%%%%%%% The bibliography starts:
\begin{thebibliography}{99}

\bibitem{r1}

\end{thebibliography}
\end{document}
